<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2"/>
      </System.Windows.Forms.ApplicationConfigurationSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="log" type="System.Diagnostics.TextWriterTraceListener" initializeData="utl-log.txt"/>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>
